.flax.fx-notification-container {
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 370px;
  height: auto;
  user-select: none;
  z-index: 1;

  @keyframes expand {
    0% {
      transform: translateX(300px);
      opacity: 0;
    }

    60% {
      transform: translateX(-30px);
    }
  }

  @keyframes slideUp {
    100% {
      transform: translateX(300px);
      max-height: 0;
      opacity: 0;
    }

    40% {
      transform: translateX(-30px);
    }
  }

  .fx-notification-wrapper {
    position: relative;
    overflow: hidden;
    max-height: 600px;

    &.--hide {
      animation: slideUp 0.45s ease-in-out;
      animation-fill-mode: forwards;
    }
  }

  .fx-notification {
    box-shadow: 0 0.15rem 0.4rem #ccc;
    margin: 1rem;
    padding: 1.2rem;
    box-sizing: border-box;
    border-radius: 0.15rem;
    position: relative;
    overflow: hidden;
    background: #fff;
    font-size: 0.95em;
    animation: expand 0.32s ease-in-out;
    margin-bottom: 0%;

    strong {
      display: block;
      font-size: 1.1em;
      margin-bottom: 0.4rem;
    }

    .--icon {
      position: absolute;
      top: 1.2rem;
      left: 1.2rem;
      width: 1.3em;
      height: 1.3em;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 100%;
      content: '';
      background: #2d91ff;
    }

    &.--succ,
    &.--warn,
    &.--error {
      padding-left: 3rem;
    }

    &.--succ {
      &:before {
        background: #0fc670;
      }

      .--icon {
        color: #0fc670;
      }
    }

    &.--warn {
      &:before {
        background: #ffa200;
      }

      .--icon {
        color: #ffa200;
      }
    }

    &.--error {
      &:before {
        background: #ff0000;
      }

      .--icon {
        color: #ff0000;
      }
    }
    
    button.close {
      position: absolute;
      top: 0;
      right: 0;
      text-indent: -9999px;
      width: 28px;
      height: 28px;
      border: none;
      background: transparent;
      opacity: 0.0;
      transition: opacity ease-in-out 0.1s;
      cursor: pointer;

      &:before, &:after {
        content: "";
        width: 12px;
        height: 2px;
        border-radius: 2px;
        background: #333;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -6px;
        margin-top: -1px; 
      }

      &:before { transform: rotate(45deg); }
      &:after { transform: rotate(-45deg); }
    }

    &:hover {
      button.close {
        opacity: 1.0;
      }
    }
  }

  .progress {
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 0;
    height: 5px;
    background: #F6F6F6;
    overflow: hidden;

    span {
      position: absolute;
      background: #E0E0E0;
      top: 0;
      left: 0;
      bottom: 0;
      width: 5%;
    }
  }
}

.flax.fx-guard {
  position: relative;
  transition: opacity ease-in-out 0.15s;

  &.--loading {
    opacity: 0.6;
  }

  .fx-guard-loader {
    position: relative;
    display: block;
    min-height: 60px;
    text-indent: -9999px;

    &:before,
    &:after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      width: 50px;
      height: 50px;
      margin-top: -25px;
      margin-left: -25px;
      border: 3px solid #333;
      border-left-color: transparent;
      border-top-color: transparent;
      border-radius: 50%;
      box-sizing: border-box;
      animation: rotateOpacity 1s ease-in-out infinite 0.1s;
    }

    &:before {
      border-color: #ab1500;
      border-left-color: transparent;
      border-top-color: transparent;
      animation-delay: 0.3s;
    }

    @keyframes rotateOpacity {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(1turn);
      }
    }
  }
}
